---
layout: layouts/base.njk
title: Notes
permalink: /notes/
---
<h1>Notes</h1>

{% if collections.notes.length > 0 %}
<ul class="post-list">
  {% for post in collections.notes %}
  <li class="h-entry">
    <div class="post-meta">
      <a class="u-url" href="{{ post.url }}">
        <time class="dt-published" datetime="{{ post.date.toISOString() }}">
          {{ post.date | dateDisplay }}
        </time>
      </a>
    </div>
    <div class="e-content">{{ post.templateContent | safe }}</div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No notes yet.</p>
{% endif %}
